/*
 * {{type}}
 * {{properCase name}}
 */
import React from 'react';

const {{properCase name}} = ({ fooProp, ...props }) => (
  <div>jsx here</div>
);

{{properCase name}}.propTypes = {
fooProp: PropTypes.string,
};

{{properCase name}}.defaultProps = {
fooProp: 'change me'
};

export default {{properCase name}};
